*,::before,::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.wrapper {
    margin: 1.23rem auto;
}
.cards{
    display: flex;
    flex-flow: row wrap;
    
}
.card {
    margin: 0;
    max-width: 33.3%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
img {
    max-width: 100%;
    height: auto;
}
.card_img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40%;
}