*,
*::before,
*::after { 
  box-sizing: border-box;
}
body {
  
    font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #999999;
}
.cards {
 
}

.card{
    float: right;
    width:33.3%;
    margin: 12px;
}
img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
